<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
        </form>
    </main>
</body>

</html>
