<!doctype html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>Createn a new item</h1>
            <form method="post">
                <input type="text" name="task">
                <input type="text" name="due date">
                <input type="checkbox" name="is_completed">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Submit</button>
            </form>
        </div>
    </main>
</body>

</html>
